html{
    background-color: #040D12;
}

body{
    color: #93B1A6;
}

.style-title{
    font-size: 95.7px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 3px 11px rgba(0,0,0,.3);
}

.heading-title{
    letter-spacing: 2.2px;
    text-align: center;
    margin-top: 350px;
    margin-bottom: 0px;
}

.heading-subtitle{
    letter-spacing: 2.2px;
    text-align: center;
}

.style-subtitle{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.5em;
}

a {
    color: #5C8374;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 20px;
    text-decoration-line: none;
}

a:hover {
    color: #93B1A6;
}

.navigation-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.naviagtion li {
    display: block;
    padding: 16px;
    text-decoration: none;
    float: left;
}